* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:focus,
*:hover {
  outline: none;
}

i,
svg {
  pointer-events: none;
}

body {
  font-family: "Recursive", Arial, Helvetica, sans-serif;
  background-color: #4a5568;
  color: white;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2,
.tempo p {
  font-size: 1.15rem;
  font-weight: normal;
}

p {
  margin: 2rem 0rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
}

.sequencer,
main {
  width: 100%;
}

/* ----- CONTROLS ----- */

.controls {
  display: flex;
  width: 100%;
}

.play {
  border: none;
  background: white;
  display: block;
  font-size: 1.25rem;
  padding: 0 1rem;
  cursor: pointer;
}

.tempo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3748;
  padding: 0 1.5rem;
  margin-left: 0.25rem;
}

.tempo p {
  margin-right: 1rem;
}

.controls input {
  flex: 1;
}

/*  ----- SLIDER ----- */

.tempo-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: white;
  outline: none;
}

.tempo-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 25rem;
  background: white;
  border: none;
  cursor: pointer;
}

.tempo-slider::-moz-range-thumb {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 25rem;
  background: white;
  border: none;
  cursor: pointer;
}

/* ----- SEQUENCER ----- */

.patterns {
  display: grid;
  grid-template-columns: 130px repeat(16, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.2rem;
  margin-top: 0.5rem;
}

.sample-name {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.15);
}

.box {
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.box.active {
  background-color: #f6ad55;
}

.bar-num {
  font-size: 0.75rem;
  padding: 2px;
  color: rgba(255, 255, 255, 0.6);
}

.msr {
  color: rgba(255, 255, 255, 0.9);
}

.mobile-num {
  display: none;
}

/* ----- RESPONSIVE FEATURES ----- */

@media only screen and (max-width: 768px) {
  .patterns {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 0.2rem;
    margin-top: 1rem;
  }

  .sample-name {
    text-align: center;
    background: none;
    grid-column: 1/5;
  }

  .mobile-num {
    display: block;
    margin: 0.5rem;
    font-size: 0.75rem;
  }

  .bar-num {
    display: none;
  }
}

/* ----- Animation ----- */
@keyframes playTrack {
  from {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.15);
  }
  to {
    transform: scale(1.04);
    background: rgba(255, 255, 255, 0.35);
  }
}

@keyframes playTrackActive {
  from {
    transform: scale(1);
    background: #f6ad55
  }
  to {
    transform: scale(1.04);
    background: #feebc8;
  }
}
